---
---

@import "{{ site.theme }}";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

img {
  background-color: transparent !important;
}

h1:not(#welcome-to-qtrcodesorg) {
    display: none;
}

.logo {
  width: 10em;
  content:url(/assets/images/qtr-codes-logo-lightmode.svg);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f0f0f0;
    }

    .logo {
      content:url(/assets/images/qtr-codes-logo-darkmode.svg);
    }
}
