---
---

@import "{{ site.theme }}";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

img {
  background-color: transparent !important;
}

h1:not(#welcome-to-qtrcodesorg) {
    display: none;
}

@media (prefers-color-scheme: light) {
  h1, h2, h3, h4 { border-bottom: 2px solid #4169e14d !important; }
  hr { background-color: #4169e14d !important; }
}
@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4 { border-bottom: 2px solid #698aeb91 !important; }
  hr { background-color: #698aeb91 !important; }
}

.logo {
  width: 10em;
  content:url(/assets/images/qtr-codes-logo-lightmode.svg);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f0f0f0;
    }
    a { color: #698aeb }
    .logo {
      content:url(/assets/images/qtr-codes-logo-darkmode.svg);
    }
}
